<!-- <div class="si-float-wrapper" style="top: 100px; left: 726px;">
    <div class="si-wrapper-top custom-window open active" style="margin-top: -72px;">
        <div class="si-shadow-wrapper-top"><div class="si-frame si-shadow-frame"></div>
        <div class="si-shadow-pointer-top"><div class="si-shadow-inner-pointer-top"></div>
    </div>
</div> -->
<div class="si-frame si-content-wrapper">
    <!-- <button type="button" class="custom-close">×</button> -->
    <div class="si-content" style="max-width: 1286px; max-height: 208px;">
        <!-- <div class="custom-img" style="height: 137px;background-image: url(https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?dpr=1&amp;auto=format&amp;fit=crop&amp;w=800&amp;h=350&amp;q=80&amp;cs=tinysrgb&amp;crop=)"></div> -->
        <section class="custom-content">
            <h1 class="custom-header">
                Complex Styles
                <small>For Snazzy Info Windows</small>
            </h1>
            <div class="custom-body"><p><em>Photo by <a href="https://unsplash.com/@philipphenzler" target="_blank">Philipp Henzler</a>.</em></p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet elit et nibh tincidunt elementum eget quis orci.</p><p>Ut magna est, lobortis ut mollis eu, vulputate id turpis.</p><p>Pellentesque id lacus quis orci consequat pellentesque non non purus. Mauris ligula dolor, volutpat quis blandit at, luctus luctus quam. In hac habitasse platea dictumst.</p><p>In hac habitasse platea dictumst. In hac habitasse platea dictumst.</p><p>Nam lorem dui, molestie nec elementum nec, lobortis sed lacus. Morbi nec tellus dolor. Etiam nec volutpat urna, pretium consectetur augue. In mattis, leo a ullamcorper venenatis, augue tortor cursus quam, nec mollis neque urna vitae lacus.</p></div>
        </section>
    </div>
</div>
<div class="si-pointer-top si-pointer-bg-top">

</div> 

